body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    max-width: 300px;
    max-height: 100%;
    overflow: auto;
    padding: 1rem;
    background-color: antiquewhite;
    font-size: 0.875rem;
}

nav dl {
    margin-top: 0;
}

nav dd {
    margin-inline-start: 1rem;
}

nav a {
    text-decoration: none;
    line-height: 2;
}

main {
    flex: 1;
    padding-left: 1rem;
    max-height: 100%;
    overflow: auto;
}

main code {
    background-color: rgba(233, 233, 233, 0.85);
    padding: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

#go-to {
    position: fixed;
    top: 1rem;
    right: 2rem;
}

#go-to input {
    width: 15rem;
    padding: 0.25rem 0.5rem;
    background-color: rgba(233, 233, 233, 0.85);
}
