body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav {
    max-width: 300px;
    max-height: 100%;
    overflow: auto;
    padding: 1rem;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav dl {
    margin-top: 0;
}

nav dd {
    margin-inline-start: 1rem;
}

nav a {
    text-decoration: none;
    line-height: 2;
}

main {
    flex: 1;
    padding-left: 1rem;
    max-height: 100%;
    overflow: auto;
}